/* define colors */
.myPink {
    color: #de2f64;
}
.myYellow {
    color: #f8ae35;
}
.myGreen {
    color: #51bc51;
}
.myBlue {
    color: #228d97;
}
.myPurple {
    color: #741359;
}

/* size and color for the navbar brand in index.html */
nav .navbar-brand {
    font-family: 'Righteous', cursive;
    font-size: xx-large;
}
/* style card for index.html */
.card {
    width: 600px;
    height: 370px;
    margin: auto;
    padding: 50px 0px;
}
.card-body {
    padding: 2rem;
}
.card-title {
    padding-bottom: 4rem;
}

/* style form-control contents */
main .form-control {
    display: inline-block;
    width: auto;
}
main {
    overflow-x: auto;
    text-align: center;
}

/* add padding to the footer */
.footnote {
    padding-bottom: 48px;
}

/* style sidebar in channel.html */
.wrapper {
    width: 100%;
    font-family: 'Righteous', cursive;
}
#sidebar {
    background-color: #741359;
}
.sidebar-header {
    font-size: xx-large;
}
@media (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 350px auto;
        height: 100vh;
    }
    #sidebar {
        display: block;
    }
}